<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Imt.Eaf.Standard" Description="Child RuleSets:&#xD;&#xA;- Microsoft Minimum Recommended Rules&#xD;&#xA;&#xD;&#xA;Added Rules:&#xD;&#xA;- none&#xD;&#xA;&#xD;&#xA;Removed Rules:&#xD;&#xA;- IDE1006: Naming rule violation: Missing prefix: 'I' (for Interfaces)&#xD;&#xA;- CA1012&#xD;&#xA;- CA1031&#xD;&#xA;- CA1051&#xD;&#xA;- CA1707&#xD;&#xA;- CA1715&#xD;&#xA;- CS8627 Nullable reference types&#xD;&#xA;- CS8632 Nullable reference types" ToolsVersion="17.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS8627" Action="None" />
    <Rule Id="CS8632" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0056" Action="None" />
    <Rule Id="IDE0305" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1715" Action="None" />
  </Rules>
</RuleSet>